Options +FollowSymLinks
RewriteEngine on
RewriteRule ^/?resume?.$ / [L]
RewriteRule ^/?chambara?.$ / [L]
RewriteRule ^/?a-walk-in-the-park?.$ / [L]
RewriteRule ^/?monovirus?.$ / [L]

ErrorDocument 404 /index.html
