:root {
    --dark-color: #232835;
    --light-color: #F1FAEE;
    --accent-color: #00A56E;
    --link-hover: white;
    --blue-tag-color: #3D9CCC;
    --green-tag-color: #35B24E;
    --purple-tag-color: #9542BF;
    --red-tag-color: #BF394B;
    --orange-tag-color: #E29610;
}

body {
    background-color: #232835;
}

::selection, body {
    background: #232835;
    color: #F1FAEE;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #232835 url('http://josephboman.com/images/loading.gif') no-repeat center center;
}

header {
    height: 60px;
    width: 100%;
    background-color: #232835;
    position: fixed;
    top: 0px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a {
    transition: box-shadow 0.5s ease-out, color 0.5s ease-out, fill 0.5s, ease-out;
}

.block-link:hover {
    color: white;
    fill: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.block-link:hover svg {
    fill: white;
}

.downloadLink:hover svg {
    fill: black;
}

.arrow-button {
    transition: box-shadow 0.5s ease-out;
}

svg {
    transition: fill 0.5s ease-out;
}

.arrow-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.arrow-button:hover svg {
    fill: black;
}

.mobile-menu {
    background-color: #F1FAEE;
    margin: 0px 5%;
    color: #232835;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    width: 90%;
    top: -200px;
    z-index: 9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: top 0.5s ease-out;
    padding-bottom: 10px;
}

.mobile-menu.down {
    top: 60px;
}

.mobile-menu .text-link {
    margin: 15px 0px 5px 10%;
    font-family: "Josefin Sans", sans-serif;
    color: #232835;
    display: block;
}

.mobile-menu .text-link:hover {
    color: #00A56E;
}

.mobile-menu .sub-link {
    margin: 10px 0px 10px 15%;
}

footer {
    height: 100px;
    position: fixed;
    bottom: 0;
    background-color: #232835;
    z-index: -5;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: #F1FAEE;
    padding-top: 5px;
}

footer p {
    text-align: center;
    margin: 5px;
}

footer h4 {
    text-align: center;
    margin: 0px;
    font-weight: bold;
}

footer .text-link {
    color: #00A56E;
}

footer .text-link:hover {
    font-weight: bold;
    color: #00A56E;
}

footer .email {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

footer .linkedIn {
    margin-left: 20%;
}

footer .gitHub {
    float:right;
    margin-right: 20%;
}

.nav-bar {
    margin: 0px 5%;
}

.nav-bar a {
    width: 90px;
    display: inline-block;
    white-space: nowrap;
}
.nav-bar a:hover {
    font-weight: bold;
}
.nav-bar a img {
    height: 60px;
    display: inline-block;
    vertical-align: top;
}
.nav-bar a p {
    color: #F1FAEE;
    font-family: "Josefin Sans", sans-serif;
    line-height: 20px;
    top: 11px;
    position: relative;
    font-size: 20px;
    left: -32px;
    display: inline-grid;
    margin: 0px;
}
.nav-bar a p span {
    font-style: italic;
    position: relative;
    left: -4px;
    top: -2px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .nav-bar a p {
        display: -ms-inline-grid;
        top: 31px;
        left: -91px;
    }
    .nav-bar a p span {
        left: 57px;
        top: -20px;
    }
}
@supports (-ms-accelerator:true) {
    .nav-bar a p {
        display: -ms-inline-grid;
        top: 31px;
        left: -91px;
    }
    .nav-bar a p span {
        left: 57px;
        top: -20px;
    }
}
.nav-bar svg {
    fill: #F1FAEE;
    display: inline-block;
    vertical-align: top;
    float: right;
}

svg {
    cursor: pointer;
}

#contents {
    position: relative;
    top: 60px;
}

.right-buffer {
    position: fixed;
    top: 60px;
    z-index: 7;
    left: 100%;
    width: 100%;
    background-color: #232835;
}

.img404 {
	width: 80%;
	margin: 20px auto;
	display: block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 10px;
}

.arrow-button {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #00A56E;
}

.page {
    background-color: #232835;
}

.page-top .arrow-button {
    position: absolute;
}

.page-bottom .arrow-button {
    position: relative;
    bottom: 5px;
    margin-bottom: 5px;
}

.right-buffer .arrow {
    fill: #232835;
    margin: 5px;
}

.right-buffer .page-bottom {
    margin-bottom: 0px;
}

.circle-img {
    border-radius: 10%;
    margin: 20px auto 0px auto;
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.circle-img img {
    position: relative;
    width: 260px;
    height: auto;
    display: inline-block;
}

.page-bottom {
    background-color: #F1FAEE;
    color: #232835;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 100px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@-moz-document url-prefix() {
    .page-bottom {
        margin-bottom: 160px;
    }
}

.page-bottom h3 {
    color: #00A56E;
    font-family: "Josefin Sans", sans-serif;
    margin: 20px 5% 5px;
    font-size: 20px;
}

.page-bottom h4 {
    margin: 5px 5% 5px 5%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}

.right {
    float: right;
}

.page-bottom h5 {
    font-family: "Josefin Sans", sans-serif;
    margin: 0px 7% 2px 7%;
    font-size: 14px;
}

.page-bottom p {
    margin: 0px 5% 20px 10%;
    font-family: "Lato", sans-serif;
    white-space: pre-line;
    line-height: 20px;
}

.downloadLink {
    margin: 15px auto 15px auto;
    padding: 5px;
    white-space: nowrap;
    width: 70%;
    display: block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #00A56E;
    border-radius: 5px;
    cursor: pointer;
}

.downloadLink svg {
    fill: #232835;
}

.downloadLink .downloadIcon {
    transform: rotate(-90deg);
}

.downloadLink .downloadMiniIcon {
    position: relative;
    left: -5px;
    top: -10px;
}

.downloadLink p {
    margin: 0px 5px;
    top: 15px;
    left: -21px;
    font-family: "Josefin Sans", sans-serif;
    display: inline-block;
    position: relative;
    color: #232835;
}

.downloadLink:hover {
    color: black;
    fill: black;
}

.img-selector {
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
}


.tag-details {
    margin: 0px 10%;
    border-radius: 5px;
    padding: 0px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #232835;
}

.tag-details p {
    font-family: 'NTR', sans-serif;
    margin: 5px 0px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    top: 2px;
    position: relative;
}

.dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    border: #F1FAEE 3px solid;
    border-radius: 50%;
    margin: 5px 4px;
    cursor: pointer;
    vertical-align: middle;
}

.dot.current-dot, .dot:hover {
    background-color: #F1FAEE;
    width: 16px;
    height: 16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.page-top {
    margin-bottom: 20px;
}

.front-img {
    display: block;
    width: 160px;
    margin: 10px auto;
}

.page-top h1, .page-top h2 {
    text-align: center;
    margin: 0px auto;
    font-family: "Josefin Sans", sans-serif;
    display: block;
    color: #F1FAEE;
}

.page-top h1 {
    width: 80%;
    border-bottom: #F1FAEE 1px solid;
}

.page-top h2, .page-bottom h2 {
    margin-top: 5px;
}

.page-bottom h1, .page-bottom h2 {
    text-align: center;
    margin: 0px auto;
    font-family: "Josefin Sans", sans-serif;
    display: block;
    color: #232835;
}

.page-bottom h1 {
    width: 80%;
    border-bottom: #232835 1px solid;
}

.page-top h4 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin: 5px 0px 0px 0px;
    color: #F1FAEE;
}

.projects {
    overflow: hidden;
    background-color: #F1FAEE;
}

.projects h3 {
    line-height: 40px;
    margin: 10px 10%;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}

a {
    text-decoration: none;
}

.block-link {
    color: #F1FAEE;
    transition: color 0.5s ease-out, box-shadow 0.5s ease-out;
}

.block-link:hover {
    color: white;
}

.text-link {
    color: #00A56E;
}

.text-link:hover {
    color: #00A56E;
    font-weight: bold;
}

a.project {
    color: #F1FAEE;
}

a.project:hover {
    color: white;
}

a.project:hover .tag {
    color: black;
}

.project {
    float: right;
    background-color: #232835;
    position: relative;
    width: 85%;
    height: 120px;
    overflow: hidden;
    white-space: nowrap;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #F1FAEE;
    margin: 10px 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.page-bottom .project h4 {
    display: inline-block;
    line-height: 40px;
    width: 140px;
    margin: 0px 10px;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    white-space: normal;
}

.page-bottom .project h4.thin-margin {
    margin-top: 20px;
}

.page-bottom .project h4.thick-margin {
    margin-top: 40px;
}

.project img {
    height: 120px;
    display: inline-block;
    vertical-align: top;
}

.project .arrow {
    height: 40px;
    left: -5px;
    top: 40px;
    position: relative;
    display: inline-block;
}

.longTime {
    display: none;
}

.details {
    display: inline-block;
    vertical-align: top;
	height: 100%;
}

.col-1, .col-2 {
    display: inline-block;
    float: left;
	height: 100%;
}

.tag {
    height: 50%;
    width: 20px;
}

.tag p {
    margin: 0px;
    font-size: 13px;
    font-family: 'NTR', sans-serif;
    font-weight: bold;
    color: #232835;
}

.designer-tag {
    background-color: #BF394B;
}
.designer-tag.tag p {
    transform: rotate(-90deg) translate(-38px, 2px);
}

.coder-tag {
    background-color: #3D9CCC;
}
.coder-tag.tag p {
    transform: rotate(-90deg) translate(-30px, 2px);
}

.qa-tag {
    background-color: #9542BF;
}
.qa-tag.tag p {
    transform: rotate(-90deg) translate(-18px, 2px);
}

.modeler-tag {
    background-color: #35B24E;
}
.modeler-tag.tag p {
    transform: rotate(-90deg) translate(-38px, 2px);
}

.ui-tag {
    background-color: #E29610;
}
.ui-tag.tag p {
    transform: rotate(-90deg) translate(-25px, 2px);
}

.desktopMenu {
    display: none;
}

@media only screen and (min-width: 961px) {
    .nav-bar {
        max-width: 1200px;
        margin: 0px 5%;
    }
    .nav-bar svg {
        display: none;
    }

    .desktopMenu {
        display: inline-block;
        float: right;
    }

    .nav-bar .headerLink {
        color: #F1FAEE;
        font-family: "Josefin Sans", sans-serif;
        margin-left: 10px;
        width: auto;
    }

    .headerLink:hover {
        color: #00A56E;
    }

    .headerLink:hover .headerImg {
        opacity: 0;
    }

    .headerLink:hover .headerHoverImg {
        opacity: 1;
    }

    .headerImg {
        position: absolute;
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }

    .headerHoverImg {
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    .headerLink h5 {
        display: inline-block;
    }

    footer {
        height: 60px;
        padding-top: 0px;
    }

    .footer {
        max-width: 1200px;
        margin: 0px 5%;
    }

    .footer p {
        display: inline-block;
        margin: 0px;
        line-height: 60px;
    }

    #contact {
        display: none;
    }

    .footer div {
        display: inline-block;
        float: right;
    }

    .footer .email {
        margin: 0px;
        line-height: 60px;
        display: inline-block;
    }

    .footer .linkedIn {
        margin-left: 20px;
        display: inline-block;
    }

    .footer .gitHub {
        margin-left: 20px;
        margin-right: 0px;
        display: inline-block;
        float: none;
    }

    .page-bottom {
        margin-bottom: 60px;
    }

    @-moz-document url-prefix() {
        .page-bottom {
            margin-bottom: 120px;
        }
    }

    .page-top > div, .page-bottom > div {
        max-width: 1440px;
        margin: 0px auto;
    }
    .project {
        width: 35%;
        float: left;
        margin: 10px 0px 40px 10%;
        border-radius: 0px;
        height: 300px;
        transition: box-shadow 0.5s ease-out, color 0.5s ease-out;
        display: inline-block;
    }
    .project.active {
        z-index: 5;
    }

    a.project:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .img-slideshow {
        margin-left: 15%;
        display: inline-block;
    }

    .circle-img {
        margin-top: 30px;
        width: 300px;
    }

    .circle-img img {
        width: 300px;
    }

    .project-header {
        display:inline-block;
        vertical-align: top;
        margin: 30px 0px 0px 10%;
        width: 400px;
    }

    .project-header.thick-margin {
        margin-top: 40px;
    }

    .right-buffer .page-top h1 {
        width: 70%;
    }

    .details {
        position: relative;
        z-index: 3;
		height: 100%;
    }

    .tag {
        width: 30px;
    }

    .coder-tag.tag p {
        transform: rotate(-90deg) translate(-70px, 1px);
    }

    .designer-tag.tag p {
        transform: rotate(-90deg) translate(-82px, 1px);
    }

    .qa-tag.tag p {
        transform: rotate(-90deg) translate(-56px, 1px);
    }

    .modeler-tag.tag p {
        transform: rotate(-90deg) translate(-82px, 1px);
    }

    .page-bottom .project h4 {
        background-color: #232835;
        height: 60px;
        margin-left: 15px;
        z-index: 2;
        left: 0;
        position: absolute;
        width: 100%;
        top: 240px;
        line-height: 60px;
    }

    .page-bottom .project h4.thin-margin {
        margin-top: 0px;
    }

    .page-bottom .project h4.thick-margin {
        margin-top: 0px;
    }

    .project:hover img {
        filter: none;
    }

    .project img {
        width: 100%;
        height: auto;
        left: 29px;
        z-index: 1;
        filter: grayscale(20%);
        transition: filter 0.5s ease-out;
        position: absolute;
    }

    .page-top .arrow-button {
        margin-top: 10px;
    }

    .page-bottom h3 {
        font-size: 28px;
        margin: 20px 10% 5px;
    }

    .page-bottom p {
        font-size: 20px;
        line-height: 28px;
        margin: 0px 12% 2px 12%;
    }

    .page-bottom h4 {
        font-size: 24px;
        margin: 5px 10% 5px 10%;
    }

    .page-bottom h5 {
        font-size: 18px;
        margin: 0px 12% 2px 12%;
    }

    .page-top h1 {
        font-size: 36px;
        width: 70%;
    }

    .page-top h2 {
        font-size: 28px;
    }

    .tag-details {
        margin: 5px 5%;
        padding: 1px 5px;
    }

    .tag-details p {
        font-size: 24px;
    }

    .longTime {
        display: inline;
        white-space: pre-line;
        text-align: right;
    }

    .time {
        display: none;
    }

    .img404 {
        width: auto;
        height: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .project-header {
        margin: 30px 0px 0px 15%;
    }
    .project-header.thick-margin {
        margin-top: 40px;
    }
    .nav-bar {
        margin: 0px auto;
    }
    .footer {
        margin: 0px auto;
    }
}
