:root {
    --dark-color: #3F4851;
    --light-color: #F1FAEE;
    --link-hover-color: #1D2630;
    --blue-tag-color: powderblue;
    --green-tag-color: darkseagreen;
    --purple-tag-color: mediumpurple;
    --red-tag-color: palevioletred;
    --yellow-tag-color: palegoldenrod;
}

body {
    background-color: var(--light-color);
}

header {
    height: 60px;
    width: 100%;
    background-color: var(--dark-color);
    position: fixed;
    top: 0px;
    z-index: 2;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.4);
}

#contents {
    position: relative;
    top: 60px;
}

.right-buffer {
    position: fixed;
    top: 60px;
    z-index: 1;
    left: 100%;
    width: 100%;
    height: 1000px;
    background-color: var(--light-color);
}

.right-buffer .arrow {
    color: var(--dark-color);
    transform: rotate(180deg);
    float: left;
    margin: 10px;
    font-size: 40px;
    line-height: 40px;
    display: inline-block;
    position: absolute;
}

.right-buffer h1 {
    display: inline-block;
    margin: 10px 10%;
    line-height: 40px;
    vertical-align: middle;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--dark-color);
    font-size: 30px;
    text-align: center;
    width: 80%;
    border-bottom: var(--dark-color) 1px solid;
}

.circle-img {
    border-radius: 100%;
    margin: 20px auto 0px auto;
    height: 160px;
    width: 160px;
    overflow: hidden;
    display: block;
}

.circle-img img {
    position: relative;
    height: 160px;
    left: -35px;
    z-index: -1;
    display: none;
}

.circle-img img.current-img {
    display: block;
}

.img-selector {
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
}

.dot {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: var(--dark-color) 3px solid;
    border-radius: 50%;
    margin: 5px 4px;
    cursor: pointer;
}

.dot.current-dot, .dot:hover {
    background-color: var(--dark-color);
}

.front-page-top {
    margin-bottom: 20px;
}

.front-page-top img {
    display: block;
    width: 160px;
    margin: 10px auto;
}

.front-page-top h1, .front-page-top h2 {
    text-align: center;
    margin: 0 auto;
    font-family: "Josefin Sans", sans-serif;
}

.front-page-top h1 {
    width: 80%;
    border-bottom: var(--dark-color) 1px solid;
}

.front-page-top h2 {
    margin-top: 5px;
}

.projects {
    overflow: hidden;
    background-color: var(--dark-color);
}

.projects h3 {
    line-height: 40px;
    color: var(--light-color);
    margin: 10px 10%;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

.project {
    float: right;
    background-color: var(--light-color);
    position: relative;
    width: 85%;
    height: 120px;
    overflow: hidden;
    white-space: nowrap;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--dark-color);
    margin-bottom: 20px;
}

.project h4 {
    display: inline-block;
    line-height: 40px;
    width: 140px;
    margin: 0 10px;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    white-space: normal;
}

.project img {
    height: 120px;
    display: inline-block;
    vertical-align: top;
}

.project .arrow {
    height: 40px;
    left: -5px;
    top: 40px;
    position: relative;
    display: inline-block;
}

.details {
    display: inline-block;
    vertical-align: top;
}

.col-1, .col-2 {
    display: inline-block;
    float: left;
}

.tag {
    height: 50%;
    width: 20px;
}

.tag p {
    margin: 0;
    font-size: 13;
    font-family: 'NTR', sans-serif;
    font-weight: bold;
}

.designer-tag {
    background-color: var(--red-tag-color);
}
.designer-tag p {
    transform: rotate(-90deg) translate(-33px, 2px);
}

.coder-tag {
    background-color: var(--blue-tag-color);
}
.coder-tag p {
    transform: rotate(-90deg) translate(-26px, 2px);
}

.qa-tag {
    background-color: var(--purple-tag-color);
}
.qa-tag p {
    transform: rotate(-90deg) translate(-15px, 2px);
}

.modeler-tag {
    background-color: var(--green-tag-color);
}
.modeler-tag p {
    transform: rotate(-90deg) translate(-33px, 2px);
}

.ui-tag {
    background-color: var(--yellow-tag-color);
}
.ui-tag p {
    transform: rotate(-90deg) translate(-21px, 2px);
}

.testing-scroll {
    height: 1000px;
}
