body {
    background-color: #F1FAEE;
}

header {
    height: 60px;
    width: 100%;
    background-color: #3F4851;
    position: fixed;
    top: 0px;
}

.front-page-top img {
    display: block;
    width: 160px;
    margin: 10px auto;
}

.front-page-top h1, .front-page-top h2 {
    text-align: center;
    margin: 0 auto;
}

.front-page-top h1 {
    width: 80%;
    border-bottom: #3F4851 1px solid;
}
