body {
    background-color: #F1FAEE;
}

header {
    height: 60px;
    background-color: #3F4851;
}

.front-page-top img {
    display: block;
    width: 160px;
    margin: 10px auto;
}

.front-page-top h1, .front-page-top h2 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.front-page-top h1 {
    border-bottom: #3F4851 1px solid;
}
